<!DOCTYPE html>
<html>
<head>
    <title>Applications</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/new">Add New Application</a>
    <% user.applications.forEach(function(application) { %>
        <p><% application.title %></p>
    <% }); %>
</body>
</html>