<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="Username" type="text"/>
        <label for="password">Password</label>
        <input name="password" placeholder="Password" type="text"/>
        <button>Sign Up</button>
    </form>
</body>
</html>