<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form method="POST">
        <label for="text">Text</label>
        <input name="text" placeholder="Text" type="text"/>
        <button>Create</button>
    </form>
</body>
</html>