<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="Username" type="text"/>
        <label for="password">Password</label>
        <input name="password" placeholder="Password" type="text"/>
        <label for="firstname">First Name</label>
        <input name="firstname" placeholder="First Name" type="text"/>
        <label for="lastname">Last Name</label>
        <input name="lastname" placeholder="Last Name" type="text"/>
        <label for="gender">Gender</label>
        <input name="gender" placeholder="Gender" type="text"/>
        <label for="dob">Date of Birth</label>
        <input name="dob" placeholder="Date of Birth" type="text"/>
        <button>Sign Up</button>
    </form>
</body>
</html>