* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

body {
    background-color: rgb(240, 240, 240);
}

a {
    color: #2d6a4f;
    text-decoration: none;
    font-weight: bold;
}

button, .update-button {
    border-style: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    background-color: #40916C;
    color: white;
    font-weight: bold;
}

.header {
    padding: 0 15%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #40916C;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: normal;
}

.profile-header, .logo {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 8px;
}

.profile-header {
    font-size: 18px;
    font-weight: bold;
    height: 100%;
}

.profile-header:hover {
    background-color: #2D6A4F;
}

.profile-picture {
    border-radius: 32px;
    width: 32px;
    height: 32px;
}

.profile-wrapper {
    position: relative;
}

.profile-dropdown {
    display: block;
    position: absolute;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.profile-dropdown a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: black;
    font-size: 18px;
    font-weight: normal;
}

.profile-dropdown a:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.content-wrapper {
    padding: 32px 8px;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
}

.post-input-wrapper, .comment-input-wrapper,
.post, .profile-info {
    box-shadow: 0px 0px 0px 1px rgb(140, 140, 140);
    border-radius: 8px;
    padding: 16px;
    background-color: white;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: fit-content;
}

.profile-info p {
    font-size: 22px;
    text-align: center;
}

.profile-info .profile-picture {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.update-pfp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.update-button {
    width: 100%;
    max-width: 100%;
}

.post {
    margin-bottom: 16px;
}

.post-input, .comment-input {
    width: 100%;
    height: 200px;
    resize: none;
    border-style: none;
    outline: none;
    font-size: 18px;
}

.post-button-wrapper, .comment-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.post-button, .comment-button {
    border-style: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    background-color: #40916C;
    color: white;
    font-weight: bold;
}

.display-update, .display-comment-update, .delete-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: #40916C;
    font-weight: normal;
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
}

.post-header-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.post-body {
    margin-bottom: 12px;
}

.likes-and-comments {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.comment-icon, .like-icon, .unlike-icon {
    width: 1rem;
}

.like-wrapper, .comment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    background-color: #40916C;
    color: white;
    padding: 8px;
}

.like-wrapper:hover, .comment-wrapper:hover {
    cursor: pointer;
}

.comment-wrapper a {
    color: white;
}

.comment-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
}

.comment-header a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.comment {
    margin-top: 12px;
}

.commentButton {
    border-style: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    font-size: 18px;
    background-color: #40916C;
    color: white;
    font-weight: bold;
}

.comment {
    border-radius: 8px;
    padding: 16px;
    background-color: rgb(240, 240, 240);
}

.hidden {
    display: none;
}