* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
}

.input-box {
    border: solid;
    padding: 16px;
}

.signup-header {
    display: flex;
    justify-content: space-between;
}

.signup-header svg {
    cursor: pointer;
    width: 1rem;
}

.login-username-input, .login-password-input {
    display: block;
}

.login-error, .signup-error,
.signup-firstname-error, .signup-lastname-error,
.signup-username-error, .signup-password-error {
    color: red;
}

.hidden {
    display: none;
}